{{ with service "apache2" }}
{{ with index . 0 }}
<VirtualHost *:{{ with index (service "apache2") 0 }}{{ .Port }}{{ end }}>
{{ end }}{{ end }}
        ServerAdmin webmaster@localhost
        DocumentRoot /var/www/html
        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>